In [12]:
from FashionTrendForecasting.data_processing.sql_interactions import Interactions, CRUD

In [13]:
interaction = Interactions()

In [14]:
interaction.get_seasonal_trend_items_top_n('Spring', 5)

2024-05-09 18:16:01,129 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-09 18:16:01,130 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
        SELECT i.category, i.material, SUM(t.trend_score) as total_trend_score
        FROM Trend t
        JOIN Item i ON t.item_id = i.item_id
        WHERE t.season = 'Spring'
        GROUP BY t.item_id
        ORDER BY total_trend_score DESC
        LIMIT 5
        ")
2024-05-09 18:16:01,131 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:16:01,133 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
        SELECT i.category, i.material, SUM(t.trend_score) as total_trend_score
        FROM Trend t
        JOIN Item i ON t.item_id = i.item_id
        WHERE t.season = 'Spring'
        GROUP BY t.item_id
        ORDER BY total_trend_score DESC
        LIMIT 5
        ")
2024-05-09 18:16:01,134 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:16:01,134 INFO sqlalchemy.engine.Engine
        SELECT i.category, i.material, SUM(t.trend_score) as total_trend_score
        FROM Trend t
        JOIN Item i ON t.item_id = i.item_id
        WHERE t.season = 'Spring'
        GROUP BY t.item_id
        ORDER BY total_trend_score DESC
        LIMIT 5

2024-05-09 18:16:01,135 INFO sqlalchemy.engine.Engine [raw sql] ()

  category material  total_trend_score
0     tops   cotton             166.72
1  dresses     wool             139.44
2  dresses    linen              94.19
3    pants    linen              84.03
4  dresses     wool              70.16

In [18]:
interaction.select_all_as_df('Item')

2024-05-09 18:28:07,479 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM Item")
2024-05-09 18:28:07,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:28:07,482 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM Item")
2024-05-09 18:28:07,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:28:07,485 INFO sqlalchemy.engine.Engine SELECT * FROM Item
2024-05-09 18:28:07,486 INFO sqlalchemy.engine.Engine [raw sql] ()

,item_id,name,category,material,style,color,picture_id,predicted_trend_score
0,1,Recently,pants,polyester,sporty,DimGray,1,8.8
1,2,These,pants,linen,formal,LemonChiffon,2,0.0
2,3,Drug,pants,linen,casual,RoyalBlue,3,0.0
3,4,Remember,tops,polyester,sporty,OliveDrab,4,0.0
4,5,Computer,dresses,polyester,casual,MediumBlue,5,0.0
...,...,...,...,...,...,...,...,...
95,96,Southern,tops,polyester,casual,Orange,96,0.0
96,97,See,dresses,polyester,casual,PapayaWhip,97,0.0
97,98,Manage,dresses,polyester,formal,Lime,98,0.0
98,99,Toward,tops,wool,casual,Indigo,99,0.0
99,100,Land,pants,cotton,casual,Teal,100,0.0

In [16]:
interaction.get_popularity_metrics()

2024-05-09 18:16:14,596 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
        SELECT i.category, i.material, MAX(sf.search_count) as max_search_count
        FROM Search_Frequency sf
        JOIN Item i ON sf.item_id = i.item_id
        GROUP BY sf.item_id
        ORDER BY max_search_count DESC
        ")
2024-05-09 18:16:14,597 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:16:14,598 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
        SELECT i.category, i.material, MAX(sf.search_count) as max_search_count
        FROM Search_Frequency sf
        JOIN Item i ON sf.item_id = i.item_id
        GROUP BY sf.item_id
        ORDER BY max_search_count DESC
        ")
2024-05-09 18:16:14,599 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:16:14,600 INFO sqlalchemy.engine.Engine
        SELECT i.category, i.material, MAX(sf.search_count) as max_search_count
        FROM Search_Frequency sf
        JOIN Item i ON sf.item_id = i.item_id
        GROUP BY sf.item_id
        ORDER BY max_search_count DESC

2024-05-09 18:16:14,600 INFO sqlalchemy.engine.Engine [raw sql] ()

   category   material  max_search_count
0   dresses     cotton               493
1      tops      linen               489
2     pants       wool               483
3   dresses      linen               462
4   dresses      linen               461
..      ...        ...               ...
60     tops  polyester                58
61    pants      linen                58
62    pants     cotton                44
63  dresses      linen                15
64    pants      linen                 3

[65 rows x 3 columns]

In [17]:
interaction.get_detailed_item_trends()

2024-05-09 18:16:18,189 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
        SELECT i.category, i.material, i.style, i.color, SUM(t.trend_score) as trend_score
        FROM Item i
        JOIN Trend t ON i.item_id = t.item_id
        GROUP BY i.item_id
        ORDER BY trend_score DESC
        ")
2024-05-09 18:16:18,191 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:16:18,191 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
        SELECT i.category, i.material, i.style, i.color, SUM(t.trend_score) as trend_score
        FROM Item i
        JOIN Trend t ON i.item_id = t.item_id
        GROUP BY i.item_id
        ORDER BY trend_score DESC
        ")
2024-05-09 18:16:18,192 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-09 18:16:18,193 INFO sqlalchemy.engine.Engine
        SELECT i.category, i.material, i.style, i.color, SUM(t.trend_score) as trend_score
        FROM Item i
        JOIN Trend t ON i.item_id = t.item_id
        GROUP BY i.item_id
        ORDER BY trend_score DESC

2024-05-09 18:16:18,193 INFO sqlalchemy.engine.Engine [raw sql] ()

   category   material   style              color  trend_score
0      tops     cotton  casual               Plum       266.51
1     pants  polyester  casual    MediumTurquoise       192.85
2   dresses  polyester  sporty          CadetBlue       151.16
3      tops       wool  formal  MediumSpringGreen       144.13
4      tops  polyester  formal              White       140.99
..      ...        ...     ...                ...          ...
63    pants      linen  formal        DarkMagenta         7.49
64  dresses     cotton  formal       MediumOrchid         6.73
65  dresses      linen  formal       MediumPurple         2.11
66     tops      linen  formal     BlanchedAlmond         1.88
67  dresses  polyester  formal             Orange         1.26

[68 rows x 5 columns]